<form>
  <p><em>
    Copier-coller une formule d'attaque (ex: bestiaire) ou laissez vide pour créer sans initialisation:
  </em></p>
  <div class="form-group">
    <label>Formule</label>
    <input id="attack" type="text" value="" placeholder="ex: épée courte, +2 (1d4/19-20)"/>
  </div>
  <div class="form-group">
    <label for="type">Type</label>
    <div><input type="radio" id="cac" name="type" value="cac" checked="checked">Corps à corps</div>
  </div>
  <div class="form-group">
    <label for=""></label>
    <div><input type="radio" id="dist" name="type" value="dist">À distance</div>
  </div>
</form>
