<table id="stats">
  {{#each display as |d i|}}
  <tr class="display {{actionClass}}" data-display-id="{{i}}">
      {{#if d.th}}<th class="label">{{d.label}}</th>{{/if}}
      {{#unless d.th}}<td class="label">{{d.label}}</td>{{/unless}}
      
      {{#each outputs as |out i|}}
        {{#if d.th}}<th class="label">{{out}}</th>{{/if}}
        {{#unless d.th}}<td class="label">{{out}}</td>{{/unless}}
      {{/each}}
  </tr>
  {{/each}}
</table>

<style>
  #stats th, #stats td { width: 150px; }
  #stats td { text-align: center}
  #stats td.label, #stats th.label { width: 350px; text-align: left; padding-left: 15px }
  #stats th.label { padding-left: 10px }
  #stats tr th { background-color: #333; color: #fff; }
  #stats tr:first-child th { background-color: #522; color: #fff }
  #stats tr:nth-child(even) { background-color: rgba(170, 170, 170, 0.3) }
  #stats tr:hover { background-color: #733; color: #fff;  }
  #stats tr.action:hover { cursor: pointer;  }
</style>
